.logo{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 20px;

}

h1{
    display: inline-block;
    margin-left: 100px;
    color: rgb(49, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 48, 48);
    font-weight: 800;
}

.botones{
    margin-left: 150px;
}

#botongoogle{
    width: 200px;
    height: 30px;
    border-color: black;
    
    
}

#botonfacebook{
    width: 200px;
    height: 30px;
    border-color: black;

}

