
.header{
    
    display: flex;
    justify-content:space-between;
}

.logo{
    width: 20vb;
    height: 5vh;
    padding-left: 3%;

}

.user{
    font-family: Arial, Helvetica, sans-serif;

}

.signin{
    color: blue;
}

h1{
    
    margin-left: 100px;
    color: rgb(49, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}

.botongoogle{
    display: flex;
}

.logogoogle__img{
    width: 10%;
}



.botones{
    margin-left: 150px;
}

#botongoogle{
    width: 200px;
    height: 30px;
    border-color: black;
    
    
}

#botonfacebook{
    width: 200px;
    height: 30px;
    border-color: black;

}

